<!doctype html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style>
      body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        color: #333;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
      }
      .button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #0a7900;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <p>Xin chào,</p>
    <p>Cảm ơn bạn đã sử dụng dịch vụ của chúng tôi. Để thực hiện {{content}} vui lòng click vào nút bên dưới.</p>
    <p>
      <a href="{{link}}" class="button">{{titleLink}}</a>
    </p>
    <p>Nếu bạn không thực hiện yêu cầu này, vui lòng bỏ qua email này.</p>
    <p>Trân trọng,<br />Đội ngũ hỗ trợ của chúng tôi.</p>
  </body>
</html>
